@{
    ViewBag.Title = "About The Founder";
}
<h2>@ViewBag.Title.</h2>
<h3></h3> 

<p>
    About the Founder<br/><br />
    Our managing partner, John VanEngelenhoven, founded this company after nearly 20 years of honing financial advising and portfolio management skills.<br /><br />

    Born and raised in rural Missouri, teenage John was making $2.75 an hour at a neighbor's farrowing house, standing knee-deep in overshoes. He thought: "There has to be a better way."<br/><br />

    John learned to trade covered calls at 21 after a 2-year service mission, and he has been a natural broker ever since. John’s innate  financial prowess, combined with his country-boy sensibility and love for helping others, create a winning combination in financial education and leadership. John helps his clients understand and learn how to approach their finances in a way that makes sense.<br/><br />

    In short, John stands for what is good and true: Verity.
</p>
