@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>About the Founder</h1>
        <p class="lead">
            About the Founder
        </p>
        <p class="lead">
            Our managing partner, John VanEngelenhoven, founded this company after nearly 20 years of honing financial advising and portfolio management skills.
        </p>
        <p class="lead">
            Born and raised in rural Missouri, teenage John was making $2.75 an hour at a neighbor's farrowing house, standing knee-deep in overshoes. He thought: "There has to be a better way."
        </p>
        <p class="lead">
            John learned to trade covered calls at 21 after a 2-year service mission, and he has been a natural broker ever since. John’s innate  financial prowess, combined with his country-boy sensibility and love for helping others, create a winning combination in financial education and leadership. John helps his clients understand and learn how to approach their finances in a way that makes sense.
        </p>
        <p class="lead">
            In short, John Stands for what is good and true: Verity.
        </p>
        <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">KEEP IT SIMPLE &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Verity</h2>
        <p>
            Verity Financial is dedicated to transparency, integrity and trustworthiness.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Experience</h2>
        <p>Our team is knowledgeable and we have many accolades from our clients. We exist to help you feel confident that you are making the right decisions for a secure financial future.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How We Invest</h2>
        <p>Verity Financial takes a quantitative, multi-factor approach to equity investing that provides a clear  objective and complete transparency of process.  There’s no mystery here: no “Just trust us”; we want our clients to understand exactly how we are investing on their behalf – and why.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>